body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.canvas {
    border: 1px solid;
    border-top: 0;
    border-right: 0;
    position: absolute;
    background-color: #eee;
    z-index: 0;
    transition: 0.5s ease;
}

.wrap {
    z-index: 2;
    width: 400px;
    height: 300px;
    border: 1px solid;
    border-right: 0px;
    border-top: 0px;
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease;
}

.col {
    border: 1px solid;
    margin: 0 0.5px;
    background-color: #229;
    transition: 0.5s ease;
    font-size: 8px;
    color: #fff;
    transition: 0.5s ease;
}

.button {
    margin: 10px;
}

button {
    outline: none;
    border: 0px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.sort {background-color: #f30; color: #333;}
.line {background-color: #1e1;color: #fff;}
.column {background-color: #d5e;color: #444;}
.clean {background-color: #333;color:#fff;}